export(alpha, jml, SL, cheat, wrongProb, scoreCon, SSI, stringMatch, stringProbs, choose.M, 
class.acc, classical, irt.ability, plaus.val, posterior, simRasch, SLderivs, theta.max)
S3method(jml, fit)
S3method(jml, default)
S3method(jml, formula)
S3method(print, jml)
S3method(summary, jml)
S3method(plot, jml)
S3method(print, summary.jml)
S3method(SL, default)
S3method(print, SL)
S3method(summary, SL)
S3method(print, summary.SL)
S3method(wrongProb, default)
S3method(wrongProb, formula)
S3method(cheat, fit)
S3method(cheat, default)
S3method(cheat, formula)
S3method(print, cheat)
S3method(summary, cheat)
S3method(print, summary.cheat)
S3method(scoreCon, fit)
S3method(scoreCon, default)
S3method(print, scoreCon)
S3method(summary, scoreCon)
S3method(print, summary.scoreCon)
S3method(SSI, fit)
S3method(SSI, default)
S3method(SSI, formula)
S3method(print, SSI)
S3method(summary, SSI)
S3method(print, summary.SSI)
S3method(alpha, fit)
S3method(alpha, default)
S3method(alpha, formula)
S3method(print, alpha)
S3method(summary, alpha)
S3method(print, summary.alpha)
S3method(classical, default)
S3method(classical, formula)
S3method(print, classical)
S3method(summary, classical)
S3method(print, summary.classical)

